.footer {
  background-color: #112d4e;
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;

  & .container {
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__company {
    font-size: 20px;
    &__name {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
  &__contact {
    width: 100%;
    max-width: 300px;
  }
  &__number {
    & a {
      color: $page-white;
    }
  }
}
