// li {
//   list-style: none;
// }
*,
a {
  list-style: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1200px;
  // background-color: $bg-color;
  color: $page-white;
}
.dog-paws {
  position: absolute;
  //   background-color: #562b08;
  left: 3px;
  top: 15px;
  width: 80px;
  height: 80px;
  z-index: 3;
  fill: black;
}
.dog-paws use {
  width: 40px;
  height: 40px;
}
.gradient {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(
    180deg,
    rgba(63, 114, 175, 0.7) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.booking {
  background-color: #112d4e;
  font-size: 48px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  transition: 0.3s;
  margin: 60px 0;
  & a {
    padding: 30px;
    color: $page-white;
    width: 100%;
    height: 100%;
    display: block;
  }
  &:hover {
    scale: 1.1;
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}
// .main__photo {
//   display: flex;
//   width: 100%;
//   max-width: 1200px;
//   height: 400px;
//   object-fit: cover;
//   object-position: top;
// }
// @media screen and (min-width: 768px) {
//   .main__photo {
//     height: 400px;
//     object-fit: cover;
//     object-position: top right;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .main__photo {
//     height: 600px;
//     object-fit: cover;
//     object-position: top right;
//   }
// }
