.main {
  & .container:first-child {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    background-image: url(../../img/header.jpg);
    background-position: top right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__header {
    font-size: 32px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }
  &__button {
    background-color: #3f72af;
    color: $page-white;
    font-size: 24px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
