$main-color: #d8d8d8;
$doggo-collor: #562b08;
$bg-color: #c4b6b686;
$text-color: #757575;
$text-color-hover: #234e70;
$shadow-color: #295b81;
$bg-color-white: rgb(247, 247, 247);
//
$page-white: white;
$light-blue: #3f72af;
$light-blue-transparent: #3f71afe0;
$light-color-tranparent: #3f71af59;
$dark-page-color: #112d4e;
